In [1]:
# Import quandl to retrieve data
# Pandas and matplotlib standard imports for data analysis
import quandl
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Use Plotly for better graphs
import plotly.offline as plotly
import plotly.graph_objs as go
import plotly.graph_objects as go

# Offline Plotting
plotly.init_notebook_mode(connected=True)

# Put your api key here
quandl.ApiConfig.api_key = 'g3sVyGQgGrx_J1RV9E43'
mapbox_access_token = 'g3sVyGQgGrx_J1RV9E43'

# Start date and end date should be the same
start_date = '2010-07-31'
end_date = '2019-08-31'

greater_metro = ['M9','M31','M3','M33']
city = ['Atlanta', 'Austin','Chicago', 'Nashville']

In [32]:
c = 0
for m in greater_metro:    
    # Median Listing Price All Homes    
    MLPAH_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[c]+'_MLPAH', start_date=start_date, end_date=end_date))
    MLPAH_df.rename(columns = {"Value":"Median Listing Price: All Homes"}, inplace = True)
    # Median Listing Price Single Family Homes
    MLPSF_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[c]+'_MLPSF', start_date=start_date, end_date=end_date))
    MLPSF_df.rename(columns = {"Value":"Median Listing Price: Single Family"}, inplace = True)
    # Median Listing Price Condos
    MLPCC_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[c]+'_MLPCC', start_date=start_date, end_date=end_date))
    MLPCC_df.rename(columns = {"Value":"Median Listing Price: Condos"}, inplace = True)
    # Median Listing Price Merged 
    MLP_df = MLPAH_df.merge(MLPSF_df, on=["Date"]).merge(MLPCC_df,on=["Date"])
     
    # Median Rental Price All Homes
    MRPAH_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[c]+'_MRPAH', start_date=start_date, end_date=end_date))
    MRPAH_df.rename(columns = {"Value":"Median Rental: All Homes"}, inplace = True)
    # Median Rental Price Single Family Homes
    MRPSF_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[c]+'_MRPSF', start_date=start_date, end_date=end_date))
    MRPSF_df.rename(columns = {"Value":"Median Rental: Single Family"}, inplace = True)
    # Median Rental Price Condos
    MRPCC_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[c]+'_MRPCC', start_date=start_date, end_date=end_date))
    MRPCC_df.rename(columns = {"Value":"Median Rental: Condos"}, inplace = True)
    # Median Rental Price Merged
    MRP_df = MRPAH_df.merge(MRPSF_df, on=["Date"]).merge(MRPCC_df, on=["Date"])

    # Zillow Home Value Index All Homes
    ZHVIAH_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[c]+'_ZHVIAH', start_date=start_date, end_date=end_date))
    ZHVIAH_df.rename(columns = {"Value":"Zillow Home Value Index: All Homes"}, inplace = True)
    # Zillow Home Value Index Single Family
    ZHVISF_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[c]+'_ZHVISF', start_date=start_date, end_date=end_date))
    ZHVISF_df.rename(columns = {"Value":"Zillow Home Value Index: Single Family"}, inplace = True)
    # Zillow Home Value Index Condos
    ZHVICO_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[c]+'_ZHVICO', start_date=start_date, end_date=end_date))
    ZHVICO_df.rename(columns = {"Value":"Zillow Home Value Index: Condos"}, inplace = True)
    # Zillow Home Value Index Merged
    ZHVI_df = ZHVIAH_df.merge(ZHVISF_df, on=["Date"]).merge(ZHVICO_df, on=["Date"])


    # Zillow Rental Value Index All Homes
    ZRIAH_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[c]+'_ZRIAH', start_date=start_date, end_date=end_date))
    ZRIAH_df.rename(columns = {"Value":"Zillow Rental Value Index: All Homes"}, inplace = True)
    # Zillow Rental Value Index Single Family
    ZRISFRR_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[c]+'_ZRISFRR', start_date=start_date, end_date=end_date))
    ZRISFRR_df.rename(columns = {"Value":"Zillow Rental Value Index: Single Family"}, inplace = True)
    # Zillow Rental Value Index Merged
    ZRVI_df = ZRIAH_df.merge(ZRISFRR_df, on=["Date"])
        
    #merged_df = MLP_df.merge(MRP_df, on=["Date"]).merge(ZHVI_df, on="Date").merge(ZRVI_df, on="Date")
    #all_df = pd.concat(all_df, merged_df, join='inner')
    if m == "M9":
        atl_df = MLP_df.merge(MRP_df, on=["Date"]).merge(ZHVI_df, on="Date").merge(ZRVI_df, on="Date")
    elif m == "M31":
        austin_df = MLP_df.merge(MRP_df, on=["Date"]).merge(ZHVI_df, on="Date").merge(ZRVI_df, on="Date")
    elif m == "M3":
        chicago_df = MLP_df.merge(MRP_df, on=["Date"]).merge(ZHVI_df, on="Date").merge(ZRVI_df, on="Date")
    else:
        nash_df = MLP_df.merge(MRP_df, on=["Date"]).merge(ZHVI_df, on="Date").merge(ZRVI_df, on="Date")
    
    c +=1

In [33]:
atl_df.head()

,Median Listing Price: All Homes,Median Listing Price: Single Family,Median Listing Price: Condos,Median Rental: All Homes,Median Rental: Single Family,Median Rental: Condos,Zillow Home Value Index: All Homes,Zillow Home Value Index: Single Family,Zillow Home Value Index: Condos,Zillow Rental Value Index: All Homes,Zillow Rental Value Index: Single Family
Date,,,,,,,,,,,
2010-11-30,168900.0,170000.0,139900.0,1200.0,1200.0,1100.0,136900.0,138300.0,118900.0,1221.0,1200.0
2010-12-31,159900.0,164900.0,135000.0,1200.0,1250.0,1162.5,135300.0,137000.0,116700.0,1221.0,1199.0
2011-01-31,157000.0,159900.0,133700.0,1175.0,1195.0,1150.0,133700.0,135500.0,114500.0,1219.0,1197.0
2011-02-28,155000.0,159900.0,134000.0,1150.0,1175.0,1150.0,132200.0,133800.0,112200.0,1214.0,1193.0
2011-03-31,154900.0,158500.0,131900.0,1150.0,1150.0,1100.0,131000.0,132500.0,110500.0,1208.0,1188.0

In [34]:
austin_df.head()

,Median Listing Price: All Homes,Median Listing Price: Single Family,Median Listing Price: Condos,Median Rental: All Homes,Median Rental: Single Family,Median Rental: Condos,Zillow Home Value Index: All Homes,Zillow Home Value Index: Single Family,Zillow Home Value Index: Condos,Zillow Rental Value Index: All Homes,Zillow Rental Value Index: Single Family
Date,,,,,,,,,,,
2013-11-30,260000.0,262000.0,244997.5,1350.0,1350.0,1395.0,203300.0,205700.0,161700.0,1668.0,1528.0
2013-12-31,261490.0,263000.0,245000.0,1325.0,1325.0,1350.0,204100.0,206600.0,162500.0,1673.0,1532.0
2014-01-31,269000.0,269761.0,250665.0,1325.0,1325.0,1395.0,204900.0,207300.0,162900.0,1673.0,1540.0
2014-02-28,275000.0,276248.0,245063.0,1350.0,1350.0,1375.0,206000.0,208200.0,163400.0,1673.0,1544.0
2014-03-31,279900.0,282550.0,245000.0,1395.0,1395.0,1400.0,207100.0,209500.0,164600.0,1673.0,1552.0

In [35]:
chicago_df.head()

,Median Listing Price: All Homes,Median Listing Price: Single Family,Median Listing Price: Condos,Median Rental: All Homes,Median Rental: Single Family,Median Rental: Condos,Zillow Home Value Index: All Homes,Zillow Home Value Index: Single Family,Zillow Home Value Index: Condos,Zillow Rental Value Index: All Homes,Zillow Rental Value Index: Single Family
Date,,,,,,,,,,,
2010-11-30,219000.0,225000.0,192900.0,1595.0,1600.0,1497.5,182700.0,189300.0,156100.0,1605.0,1581.0
2010-12-31,208900.0,217900.0,184900.0,1600.0,1650.0,1550.0,180800.0,187200.0,154200.0,1598.0,1569.0
2011-01-31,199900.0,209900.0,179000.0,1550.0,1600.0,1500.0,179100.0,185500.0,153100.0,1582.0,1560.0
2011-02-28,199900.0,209900.0,176900.0,1550.0,1550.0,1500.0,177800.0,184100.0,151800.0,1570.0,1551.0
2011-03-31,199900.0,210000.0,179000.0,1500.0,1535.0,1500.0,176800.0,182700.0,150000.0,1567.0,1541.0

In [36]:
nash_df.head()

,Median Listing Price: All Homes,Median Listing Price: Single Family,Median Listing Price: Condos,Median Rental: All Homes,Median Rental: Single Family,Median Rental: Condos,Zillow Home Value Index: All Homes,Zillow Home Value Index: Single Family,Zillow Home Value Index: Condos,Zillow Rental Value Index: All Homes,Zillow Rental Value Index: Single Family
Date,,,,,,,,,,,
2014-09-30,229000.0,234900.0,169900.0,1450.0,1450.0,1450.0,163400.0,164400.0,147800.0,1474.0,1296.0
2014-10-31,234000.0,239600.0,179900.0,1450.0,1450.0,1395.0,164400.0,165500.0,149200.0,1478.0,1305.0
2014-11-30,235000.0,239900.0,174900.0,1450.0,1450.0,1397.0,165400.0,166600.0,150600.0,1479.0,1311.0
2014-12-31,239900.0,246900.0,183900.0,1425.0,1435.0,1425.0,166500.0,167800.0,151600.0,1486.0,1318.0
2015-01-31,244500.0,249900.0,185000.0,1425.0,1435.0,1400.0,167700.0,169000.0,152600.0,1496.0,1324.0

In [37]:
# List of Data Frames
dfs = [atl_df, austin_df, chicago_df, nash_df]
# Concat all Data Frames and Add Title
df_combined = pd.concat([df.rename(columns=lambda x: x.zfill(4)) for df in dfs], keys=['{}'.format(c) for c in city], axis=1)

df_combined.head()

                                   Atlanta  \
           Median Listing Price: All Homes
Date
2010-11-30                        168900.0
2010-12-31                        159900.0
2011-01-31                        157000.0
2011-02-28                        155000.0
2011-03-31                        154900.0

                                                                             \
           Median Listing Price: Single Family Median Listing Price: Condos
Date
2010-11-30                            170000.0                     139900.0
2010-12-31                            164900.0                     135000.0
2011-01-31                            159900.0                     133700.0
2011-02-28                            159900.0                     134000.0
2011-03-31                            158500.0                     131900.0

                                                                  \
           Median Rental: All Homes Median Rental: Single Family
Date
2010-11-30                   1200.0                       1200.0
2010-12-31                   1200.0                       1250.0
2011-01-31                   1175.0                       1195.0
2011-02-28                   1150.0                       1175.0
2011-03-31                   1150.0                       1150.0

                                                                     \
           Median Rental: Condos Zillow Home Value Index: All Homes
Date
2010-11-30                1100.0                           136900.0
2010-12-31                1162.5                           135300.0
2011-01-31                1150.0                           133700.0
2011-02-28                1150.0                           132200.0
2011-03-31                1100.0                           131000.0

                                                   \
           Zillow Home Value Index: Single Family
Date
2010-11-30                               138300.0
2010-12-31                               137000.0
2011-01-31                               135500.0
2011-02-28                               133800.0
2011-03-31                               132500.0

                                            \
           Zillow Home Value Index: Condos
Date
2010-11-30                        118900.0
2010-12-31                        116700.0
2011-01-31                        114500.0
2011-02-28                        112200.0
2011-03-31                        110500.0

                                                 ...  \
           Zillow Rental Value Index: All Homes  ...
Date                                             ...
2010-11-30                               1221.0  ...
2010-12-31                               1221.0  ...
2011-01-31                               1219.0  ...
2011-02-28                               1214.0  ...
2011-03-31                               1208.0  ...

                                     Nashville                               \
           Median Listing Price: Single Family Median Listing Price: Condos
Date
2010-11-30                                 NaN                          NaN
2010-12-31                                 NaN                          NaN
2011-01-31                                 NaN                          NaN
2011-02-28                                 NaN                          NaN
2011-03-31                                 NaN                          NaN

                                                                  \
           Median Rental: All Homes Median Rental: Single Family
Date
2010-11-30                      NaN                          NaN
2010-12-31                      NaN                          NaN
2011-01-31                      NaN                          NaN
2011-02-28                      NaN                          NaN
2011-03-31                      NaN                          NaN

                                                                     \
           Median Rental: Condos Zillow Home Value Index: All Homes
Date
2010-11-30                   NaN                                NaN
2010-12-31                   NaN                                NaN
2011-01-31                   NaN                                NaN
2011-02-28                   NaN                                NaN
2011-03-31                   NaN                                NaN

                                                   \
           Zillow Home Value Index: Single Family
Date
2010-11-30                                    NaN
2010-12-31                                    NaN
2011-01-31                                    NaN
2011-02-28                                    NaN
2011-03-31                                    NaN

                                            \
           Zillow Home Value Index: Condos
Date
2010-11-30                             NaN
2010-12-31                             NaN
2011-01-31                             NaN
2011-02-28                             NaN
2011-03-31                             NaN

                                                 \
           Zillow Rental Value Index: All Homes
Date
2010-11-30                                  NaN
2010-12-31                                  NaN
2011-01-31                                  NaN
2011-02-28                                  NaN
2011-03-31                                  NaN


           Zillow Rental Value Index: Single Family
Date
2010-11-30                                      NaN
2010-12-31                                      NaN
2011-01-31                                      NaN
2011-02-28                                      NaN
2011-03-31                                      NaN

[5 rows x 44 columns]

In [4]:
df_combined.tail()

# Push DataFrame to CSV
df_combined.to_csv(r'city.csv')

In [20]:
# Specify Zillow Indicator we want to graph
indicator = 'MLPAH'

# Specify the county and state we want to generate the map for
metro = 'Nashville'
state = 'TN'

# Start date and end date should be the same
start_date = '2010-06-30'
end_date = '2018-06-30'

In [21]:
# We are going to fetch the data for each zip code in the county and add that to a single dataframe
def get_city_data(cities, indicator):
    df_array = []
    for city, code in cities.items():
        quandl_db_code = f'ZILLOW/Z{code}_{indicator}'
        try:
            data = quandl.get(quandl_db_code, start_date=start_date, end_date=end_date)
            data.rename(index=str, columns={'Value': city}, inplace=True)
            data.index = pd.to_datetime(data.index, format='%Y/%m/%d')
            df_array.append(data)
        except:
            print(f'Error fetching for: {quandl_db_code}')
    ret = pd.concat(df_array, axis=1)
    return ret

In [22]:
# Here we are going to figure out what zip codes are in the specified county
# We will also use the logitude / latitude data for plotting

ZIP_CODES = pd.read_csv('zip_code.csv') 
state_df = ZIP_CODES['state'] == state
city_df = ZIP_CODES['city'] == metro
data = ZIP_CODES[city_df & state_df]

In [23]:
# We will call our function to fetch the data from quandl
# There will be errors for data we cannot retrieve

real_estate_data = get_city_data(data['zip_code'], indicator)

In [24]:
# Here we are just doing some transformation and massaging of the data we get back
# If you want more information please run the notebook on your own

transformed_real_estate_data = real_estate_data.transpose()

column_name = f'{indicator} {end_date}'

In [25]:
transformed_real_estate_data[column_name] = transformed_real_estate_data[end_date].astype('float')

In [26]:
concat_data = pd.concat([data, transformed_real_estate_data[column_name]], axis=1, sort=True)
print(concat_data)

     zip_code  latitude  longitude       city state  MLPAH 2018-06-30
190     37013       NaN        NaN  Nashville    TN          230000.0
191     37027       NaN        NaN  Nashville    TN          732450.0
192     37072       NaN        NaN  Nashville    TN          269900.0
193     37076       NaN        NaN  Nashville    TN          289341.0
194     37115       NaN        NaN  Nashville    TN          205000.0
195     37138       NaN        NaN  Nashville    TN          274900.0
196     37201       NaN        NaN  Nashville    TN          379950.0
197     37203       NaN        NaN  Nashville    TN          529900.0
198     37204       NaN        NaN  Nashville    TN          699900.0
199     37205       NaN        NaN  Nashville    TN          699900.0
200     37206       NaN        NaN  Nashville    TN          409984.0
201     37207       NaN        NaN  Nashville    TN          299999.0
202     37208       NaN        NaN  Nashville    TN          350000.0
203     37209       NaN        NaN  Nashville    TN          400000.0
204     37210       NaN        NaN  Nashville    TN          304900.0
205     37211       NaN        NaN  Nashville    TN          285000.0
206     37212       NaN        NaN  Nashville    TN          637400.0
207     37214       NaN        NaN  Nashville    TN          249900.0
208     37215       NaN        NaN  Nashville    TN          775000.0
209     37216       NaN        NaN  Nashville    TN          334900.0
210     37217       NaN        NaN  Nashville    TN          224500.0
211     37218       NaN        NaN  Nashville    TN          249000.0
212     37221       NaN        NaN  Nashville    TN          339900.0