In [15]:
# Import quandl to retrieve data
# Pandas and matplotlib standard imports for data analysis
import quandl
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Use Plotly for better graphs
import plotly.offline as plotly
import plotly.graph_objs as go
import plotly.graph_objects as go

# Offline Plotting
plotly.init_notebook_mode(connected=True)

# Put your api key here
quandl.ApiConfig.api_key = 'g3sVyGQgGrx_J1RV9E43'
mapbox_access_token = 'g3sVyGQgGrx_J1RV9E43'

# Start date and end date should be the same
start_date = '2010-07-31'
end_date = '2019-08-31'

greater_metro = ['M9','M31','M3','M33']
city = ['Atlanta', 'Austin','Chicago', 'Nashville']

In [16]:
for m in greater_metro:    
    # Median Listing Price All Homes    
    MLPAH_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[0]+'_MLPAH', start_date=start_date, end_date=end_date))
    MLPAH_df.rename(columns = {"Value":"Median Listing Price: All Homes"}, inplace = True)
    # Median Listing Price Single Family Homes
    MLPSF_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[0]+'_MLPSF', start_date=start_date, end_date=end_date))
    MLPSF_df.rename(columns = {"Value":"Median Listing Price: Single Family"}, inplace = True)
    # Median Listing Price Condos
    MLPCC_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[0]+'_MLPCC', start_date=start_date, end_date=end_date))
    MLPCC_df.rename(columns = {"Value":"Median Listing Price: Condos"}, inplace = True)
    # Median Listing Price Merged 
    MLP_df = MLPAH_df.merge(MLPSF_df, on=["Date"]).merge(MLPCC_df,on=["Date"])
    MLP_df.name = "Median Listing Price"

    # Median Rental Price All Homes
    MRPAH_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[0]+'_MLPCC', start_date=start_date, end_date=end_date))
    MRPAH_df.rename(columns = {"Value":"Median Rental: All Homes"}, inplace = True)
    # Median Rental Price Single Family Homes
    MRPSF_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[0]+'_MLPCC', start_date=start_date, end_date=end_date))
    MRPSF_df.rename(columns = {"Value":"Median Rental: Single Family"}, inplace = True)
    # Median Rental Price Condos
    MRPCC_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[0]+'_MLPCC', start_date=start_date, end_date=end_date))
    MRPCC_df.rename(columns = {"Value":"Median Rental: Condos"}, inplace = True)
    # Median Rental Price Merged
    MRP_df = MRPAH_df.merge(MRPSF_df, on=["Date"]).merge(MRPCC_df, on=["Date"])

    # Zillow Home Value Index All Homes
    ZHVIAH_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[0]+'_MLPCC', start_date=start_date, end_date=end_date))
    ZHVIAH_df.rename(columns = {"Value":"Zillow Home Value Index: All Homes"}, inplace = True)
    # Zillow Home Value Index Single Family
    ZHVISF_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[0]+'_MLPCC', start_date=start_date, end_date=end_date))
    ZHVISF_df.rename(columns = {"Value":"Zillow Home Value Index: Single Family"}, inplace = True)
    # Zillow Home Value Index Condos
    ZHVICO_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[0]+'_MLPCC', start_date=start_date, end_date=end_date))
    ZHVICO_df.rename(columns = {"Value":"Zillow Home Value Index: Condos"}, inplace = True)
    # Zillow Home Value Index Merged
    ZHVI_df = ZHVIAH_df.merge(ZHVISF_df, on=["Date"]).merge(ZHVICO_df, on=["Date"])


    # Zillow Rental Value Index All Homes
    ZRIAH_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[0]+'_MLPCC', start_date=start_date, end_date=end_date))
    ZRIAH_df.rename(columns = {"Value":"Zillow Rental Value Index: All Homes"}, inplace = True)
    # Zillow Rental Value Index Single Family
    ZRISFRR_df = pd.DataFrame(quandl.get('ZILLOW/'+greater_metro[0]+'_MLPCC', start_date=start_date, end_date=end_date))
    ZRISFRR_df.rename(columns = {"Value":"Zillow Rental Value Index: Single Family"}, inplace = True)
    # Zillow Rental Value Index Merged
    ZRVI_df = ZRIAH_df.merge(ZRISFRR_df, on=["Date"])
        
    #merged_df = MLP_df.merge(MRP_df, on=["Date"]).merge(ZHVI_df, on="Date").merge(ZRVI_df, on="Date")
    #all_df = pd.concat(all_df, merged_df, join='inner')
    if m == "M9":
        atl_df = MLP_df.merge(MRP_df, on=["Date"]).merge(ZHVI_df, on="Date").merge(ZRVI_df, on="Date")
    elif m == "M31":
        austin_df = MLP_df.merge(MRP_df, on=["Date"]).merge(ZHVI_df, on="Date").merge(ZRVI_df, on="Date")
    elif m == "M3":
        chicago_df = MLP_df.merge(MRP_df, on=["Date"]).merge(ZHVI_df, on="Date").merge(ZRVI_df, on="Date")
    else:
        nash_df = MLP_df.merge(MRP_df, on=["Date"]).merge(ZHVI_df, on="Date").merge(ZRVI_df, on="Date")

In [17]:
# List of Data Frames
dfs = [atl_df, austin_df, chicago_df, nash_df]
# Concat all Data Frames and Add Title
df_combined = pd.concat([df.rename(columns=lambda x: x.zfill(4)) for df in dfs], keys=['{}'.format(c) for c in city], axis=1)

df_combined.head()

                                   Atlanta  \
           Median Listing Price: All Homes
Date
2010-07-31                        175000.0
2010-08-31                        174900.0
2010-09-30                        169900.0
2010-10-31                        169900.0
2010-11-30                        168900.0

                                                                             \
           Median Listing Price: Single Family Median Listing Price: Condos
Date
2010-07-31                            179900.0                     149000.0
2010-08-31                            179000.0                     144900.0
2010-09-30                            175000.0                     140000.0
2010-10-31                            173900.0                     139900.0
2010-11-30                            170000.0                     139900.0

                                                                  \
           Median Rental: All Homes Median Rental: Single Family
Date
2010-07-31                 149000.0                     149000.0
2010-08-31                 144900.0                     144900.0
2010-09-30                 140000.0                     140000.0
2010-10-31                 139900.0                     139900.0
2010-11-30                 139900.0                     139900.0

                                                                     \
           Median Rental: Condos Zillow Home Value Index: All Homes
Date
2010-07-31              149000.0                           149000.0
2010-08-31              144900.0                           144900.0
2010-09-30              140000.0                           140000.0
2010-10-31              139900.0                           139900.0
2010-11-30              139900.0                           139900.0

                                                   \
           Zillow Home Value Index: Single Family
Date
2010-07-31                               149000.0
2010-08-31                               144900.0
2010-09-30                               140000.0
2010-10-31                               139900.0
2010-11-30                               139900.0

                                            \
           Zillow Home Value Index: Condos
Date
2010-07-31                        149000.0
2010-08-31                        144900.0
2010-09-30                        140000.0
2010-10-31                        139900.0
2010-11-30                        139900.0

                                                 ...  \
           Zillow Rental Value Index: All Homes  ...
Date                                             ...
2010-07-31                             149000.0  ...
2010-08-31                             144900.0  ...
2010-09-30                             140000.0  ...
2010-10-31                             139900.0  ...
2010-11-30                             139900.0  ...

                                     Nashville                               \
           Median Listing Price: Single Family Median Listing Price: Condos
Date
2010-07-31                            179900.0                     149000.0
2010-08-31                            179000.0                     144900.0
2010-09-30                            175000.0                     140000.0
2010-10-31                            173900.0                     139900.0
2010-11-30                            170000.0                     139900.0

                                                                  \
           Median Rental: All Homes Median Rental: Single Family
Date
2010-07-31                 149000.0                     149000.0
2010-08-31                 144900.0                     144900.0
2010-09-30                 140000.0                     140000.0
2010-10-31                 139900.0                     139900.0
2010-11-30                 139900.0                     139900.0

                                                                     \
           Median Rental: Condos Zillow Home Value Index: All Homes
Date
2010-07-31              149000.0                           149000.0
2010-08-31              144900.0                           144900.0
2010-09-30              140000.0                           140000.0
2010-10-31              139900.0                           139900.0
2010-11-30              139900.0                           139900.0

                                                   \
           Zillow Home Value Index: Single Family
Date
2010-07-31                               149000.0
2010-08-31                               144900.0
2010-09-30                               140000.0
2010-10-31                               139900.0
2010-11-30                               139900.0

                                            \
           Zillow Home Value Index: Condos
Date
2010-07-31                        149000.0
2010-08-31                        144900.0
2010-09-30                        140000.0
2010-10-31                        139900.0
2010-11-30                        139900.0

                                                 \
           Zillow Rental Value Index: All Homes
Date
2010-07-31                             149000.0
2010-08-31                             144900.0
2010-09-30                             140000.0
2010-10-31                             139900.0
2010-11-30                             139900.0


           Zillow Rental Value Index: Single Family
Date
2010-07-31                                 149000.0
2010-08-31                                 144900.0
2010-09-30                                 140000.0
2010-10-31                                 139900.0
2010-11-30                                 139900.0

[5 rows x 44 columns]

In [18]:
df_combined.tail()

                                   Atlanta  \
           Median Listing Price: All Homes
Date
2019-03-31                        288990.0
2019-04-30                        293990.0
2019-05-31                        294900.0
2019-06-30                        293900.0
2019-07-31                        289900.0

                                                                             \
           Median Listing Price: Single Family Median Listing Price: Condos
Date
2019-03-31                            292000.0                     225550.0
2019-04-30                            299400.0                     229250.0
2019-05-31                            299900.0                     229000.0
2019-06-30                            299000.0                     229900.0
2019-07-31                            295000.0                     229900.0

                                                                  \
           Median Rental: All Homes Median Rental: Single Family
Date
2019-03-31                 225550.0                     225550.0
2019-04-30                 229250.0                     229250.0
2019-05-31                 229000.0                     229000.0
2019-06-30                 229900.0                     229900.0
2019-07-31                 229900.0                     229900.0

                                                                     \
           Median Rental: Condos Zillow Home Value Index: All Homes
Date
2019-03-31              225550.0                           225550.0
2019-04-30              229250.0                           229250.0
2019-05-31              229000.0                           229000.0
2019-06-30              229900.0                           229900.0
2019-07-31              229900.0                           229900.0

                                                   \
           Zillow Home Value Index: Single Family
Date
2019-03-31                               225550.0
2019-04-30                               229250.0
2019-05-31                               229000.0
2019-06-30                               229900.0
2019-07-31                               229900.0

                                            \
           Zillow Home Value Index: Condos
Date
2019-03-31                        225550.0
2019-04-30                        229250.0
2019-05-31                        229000.0
2019-06-30                        229900.0
2019-07-31                        229900.0

                                                 ...  \
           Zillow Rental Value Index: All Homes  ...
Date                                             ...
2019-03-31                             225550.0  ...
2019-04-30                             229250.0  ...
2019-05-31                             229000.0  ...
2019-06-30                             229900.0  ...
2019-07-31                             229900.0  ...

                                     Nashville                               \
           Median Listing Price: Single Family Median Listing Price: Condos
Date
2019-03-31                            292000.0                     225550.0
2019-04-30                            299400.0                     229250.0
2019-05-31                            299900.0                     229000.0
2019-06-30                            299000.0                     229900.0
2019-07-31                            295000.0                     229900.0

                                                                  \
           Median Rental: All Homes Median Rental: Single Family
Date
2019-03-31                 225550.0                     225550.0
2019-04-30                 229250.0                     229250.0
2019-05-31                 229000.0                     229000.0
2019-06-30                 229900.0                     229900.0
2019-07-31                 229900.0                     229900.0

                                                                     \
           Median Rental: Condos Zillow Home Value Index: All Homes
Date
2019-03-31              225550.0                           225550.0
2019-04-30              229250.0                           229250.0
2019-05-31              229000.0                           229000.0
2019-06-30              229900.0                           229900.0
2019-07-31              229900.0                           229900.0

                                                   \
           Zillow Home Value Index: Single Family
Date
2019-03-31                               225550.0
2019-04-30                               229250.0
2019-05-31                               229000.0
2019-06-30                               229900.0
2019-07-31                               229900.0

                                            \
           Zillow Home Value Index: Condos
Date
2019-03-31                        225550.0
2019-04-30                        229250.0
2019-05-31                        229000.0
2019-06-30                        229900.0
2019-07-31                        229900.0

                                                 \
           Zillow Rental Value Index: All Homes
Date
2019-03-31                             225550.0
2019-04-30                             229250.0
2019-05-31                             229000.0
2019-06-30                             229900.0
2019-07-31                             229900.0


           Zillow Rental Value Index: Single Family
Date
2019-03-31                                 225550.0
2019-04-30                                 229250.0
2019-05-31                                 229000.0
2019-06-30                                 229900.0
2019-07-31                                 229900.0

[5 rows x 44 columns]

In [30]:
# Specify Zillow Indicator we want to graph
indicator = 'MLPAH'

# Specify the county and state we want to generate the map for
metro = 'Chicago'
state = 'IL'

# Start date and end date should be the same
start_date = '2018-06-30'
end_date = '2018-06-30'

In [31]:
# We are going to fetch the data for each zip code in the county and add that to a single dataframe
def get_city_data(cities, indicator):
    df_array = []
    for city, code in cities.items():
        quandl_db_code = f'ZILLOW/Z{code}_{indicator}'
        try:
            data = quandl.get(quandl_db_code, start_date=start_date, end_date=end_date)
            data.rename(index=str, columns={'Value': city}, inplace=True)
            data.index = pd.to_datetime(data.index, format='%Y/%m/%d')
            df_array.append(data)
        except:
            print(f'Error fetching for: {quandl_db_code}')
    ret = pd.concat(df_array, axis=1)
    return ret

In [32]:
# Here we are going to figure out what zip codes are in the specified county
# We will also use the logitude / latitude data for plotting

ZIP_CODES = pd.read_csv('zip_code.csv') 
state_df = ZIP_CODES['state'] == state
city_df = ZIP_CODES['city'] == metro
data = ZIP_CODES[city_df & state_df]

In [33]:
# We will call our function to fetch the data from quandl
# There will be errors for data we cannot retrieve

real_estate_data = get_city_data(data['zip_code'], indicator)

Error fetching for: ZILLOW/Z60602_MLPAH
Error fetching for: ZILLOW/Z60604_MLPAH
Error fetching for: ZILLOW/Z60663_MLPAH
Error fetching for: ZILLOW/Z60664_MLPAH
Error fetching for: ZILLOW/Z60665_MLPAH
Error fetching for: ZILLOW/Z60666_MLPAH
Error fetching for: ZILLOW/Z60667_MLPAH
Error fetching for: ZILLOW/Z60668_MLPAH
Error fetching for: ZILLOW/Z60669_MLPAH
Error fetching for: ZILLOW/Z60670_MLPAH
Error fetching for: ZILLOW/Z60671_MLPAH
Error fetching for: ZILLOW/Z60672_MLPAH
Error fetching for: ZILLOW/Z60673_MLPAH
Error fetching for: ZILLOW/Z60674_MLPAH
Error fetching for: ZILLOW/Z60675_MLPAH
Error fetching for: ZILLOW/Z60677_MLPAH
Error fetching for: ZILLOW/Z60678_MLPAH
Error fetching for: ZILLOW/Z60679_MLPAH
Error fetching for: ZILLOW/Z60680_MLPAH
Error fetching for: ZILLOW/Z60681_MLPAH
Error fetching for: ZILLOW/Z60683_MLPAH
Error fetching for: ZILLOW/Z60684_MLPAH
Error fetching for: ZILLOW/Z60685_MLPAH
Error fetching for: ZILLOW/Z60687_MLPAH
Error fetching for: ZILLOW/Z60690_MLPAH
Error fetching for: ZILLOW/Z60691_MLPAH
Error fetching for: ZILLOW/Z60693_MLPAH
Error fetching for: ZILLOW/Z60694_MLPAH
Error fetching for: ZILLOW/Z60697_MLPAH
Error fetching for: ZILLOW/Z60699_MLPAH
Error fetching for: ZILLOW/Z60701_MLPAH

In [23]:
# Here we are just doing some transformation and massaging of the data we get back
# If you want more information please run the notebook on your own

transformed_real_estate_data = real_estate_data.transpose()

column_name = f'{indicator} {end_date}'

In [24]:
transformed_real_estate_data[column_name] = transformed_real_estate_data[end_date].astype('float')

In [25]:
concat_data = pd.concat([data, transformed_real_estate_data[column_name]], axis=1, sort=True)
print(concat_data)

    zip_code  latitude  longitude     city state  MLPAH 2018-06-30
0      30002       NaN        NaN  Atlanta    GA          432000.0
1      30030       NaN        NaN  Atlanta    GA          529000.0
2      30032       NaN        NaN  Atlanta    GA          205000.0
3      30033       NaN        NaN  Atlanta    GA          389900.0
4      30067       NaN        NaN  Atlanta    GA          381280.0
5      30079       NaN        NaN  Atlanta    GA               NaN
6      30080       NaN        NaN  Atlanta    GA          400000.0
7      30081       NaN        NaN  Atlanta    GA               NaN
8      30084       NaN        NaN  Atlanta    GA          274900.0
9      30303       NaN        NaN  Atlanta    GA               NaN
10     30305       NaN        NaN  Atlanta    GA          729900.0
11     30306       NaN        NaN  Atlanta    GA          799000.0
12     30307       NaN        NaN  Atlanta    GA          549000.0
13     30308       NaN        NaN  Atlanta    GA          317500.0
14     30309       NaN        NaN  Atlanta    GA          389450.0
15     30310       NaN        NaN  Atlanta    GA               NaN
16     30311       NaN        NaN  Atlanta    GA          183400.0
17     30312       NaN        NaN  Atlanta    GA          391500.0
18     30319       NaN        NaN  Atlanta    GA          605000.0
19     30324       NaN        NaN  Atlanta    GA          525000.0
20     30326       NaN        NaN  Atlanta    GA          467000.0
21     30327       NaN        NaN  Atlanta    GA         1395000.0
22     30328       NaN        NaN  Atlanta    GA          554680.0
23     30329       NaN        NaN  Atlanta    GA          453865.0
24     30337       NaN        NaN  Atlanta    GA          274900.0
25     30338       NaN        NaN  Atlanta    GA          506346.0
26     30339       NaN        NaN  Atlanta    GA          388900.0
27     30340       NaN        NaN  Atlanta    GA          275000.0
28     30341       NaN        NaN  Atlanta    GA          443445.0
29     30342       NaN        NaN  Atlanta    GA          700000.0
30     30344       NaN        NaN  Atlanta    GA          144990.0
31     30345       NaN        NaN  Atlanta    GA          439500.0
32     30346       NaN        NaN  Atlanta    GA               NaN
33     30354       NaN        NaN  Atlanta    GA               NaN
34     30360       NaN        NaN  Atlanta    GA          387450.0
35     30363       NaN        NaN  Atlanta    GA          309500.0
36     30364       NaN        NaN  Atlanta    GA               NaN
37     30342       NaN        NaN  Atlanta    GA          700000.0
38     30343       NaN        NaN  Atlanta    GA               NaN
39     30344       NaN        NaN  Atlanta    GA          144990.0
40     30347       NaN        NaN  Atlanta    GA               NaN
41     30348       NaN        NaN  Atlanta    GA               NaN
42     30349       NaN        NaN  Atlanta    GA          187045.0
43     30351       NaN        NaN  Atlanta    GA               NaN
44     30353       NaN        NaN  Atlanta    GA               NaN
45     30354       NaN        NaN  Atlanta    GA               NaN
46     30355       NaN        NaN  Atlanta    GA               NaN
47     30357       NaN        NaN  Atlanta    GA               NaN
48     30358       NaN        NaN  Atlanta    GA               NaN
49     30361       NaN        NaN  Atlanta    GA               NaN
50     30363       NaN        NaN  Atlanta    GA          309500.0